ul.tags li {
  margin-top: 2px;
  margin-bottom: 2px;
}

ul.tags li:hover {
  cursor: pointer;
  background: #aeaeae;
}

ul.tags li.tag-green:hover {
  cursor: pointer;
  background: #6ccf70;
}

ul.tags.right {
  justify-content: end;
}
